{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="{% static 'search_keyword_button.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div class="absolute_centered_text">
    <h1>Welcome to my meme generator!</h1>
    <p>Please enter a keyword to search for photos.</p>
    <br><br>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2">
            <label for="keyword_textfield_id" style="font-size: 16px;">Keyword: </label>
        </div>
        <div class="col-xs-5">
            <input id="keyword_textfield_id" name="keyword_name" class="form-control" required placeholder="Enter keyword here"/>
        </div>
        <div class="col-xs-2">
            <button id="keyword_button_id" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
      </div>
</div>
</div>
</body>
</html>