{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="{% static 'input_text_button.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Input Text</title>
</head>
<body>
<div class="centered">
    <h1>Keyword you entered: {{keyword}}</h1>
    <p>Please enter a text, font size, color and copy the photo URL to insert the input text to the photo.</p>
    <br><br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="text_textfield_id" style="font-size: 16px;">Text: </label>
        </div>
        <div class="col-xs-3">
            <input id="text_textfield_id" name="text_name" class="form-control" required placeholder="Enter text here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="font_size_textfield_id" style="font-size: 16px;">Font Size: </label>
        </div>
        <div class="col-xs-3">
            <input id="font_size_textfield_id" name="url_name" class="form-control" required placeholder="Enter font size here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="font_red_textfield_id" style="font-size: 16px;">Font Red: </label>
        </div>
        <div class="col-xs-3">
            <input id="font_red_textfield_id" name="url_name" class="form-control" required placeholder="Enter font color's red value here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="font_green_textfield_id" style="font-size: 16px;">Font Green: </label>
        </div>
        <div class="col-xs-3">
            <input id="font_green_textfield_id" name="url_name" class="form-control" required placeholder="Enter font color's green value here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="font_blue_textfield_id" style="font-size: 16px;">Font Blue: </label>
        </div>
        <div class="col-xs-3">
            <input id="font_blue_textfield_id" name="url_name" class="form-control" required placeholder="Enter font color's blue value here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <label for="url_textfield_id" style="font-size: 16px;">URL: </label>
        </div>
        <div class="col-xs-3">
            <input id="url_textfield_id" name="url_name" class="form-control" required placeholder="copy URL here"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4"></div>
        <button id="input_text_button_id" class="btn btn-info btn-lg col-xs-4">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
    </div>
</div>
<br><br>
<div class="centered">
    {% for current_url in url_dict %}
    <img src={{ current_url.url }}></a>
    <p>{{ current_url.url }}</p>
    <br><br>
    {% endfor %}
</div>



</body>
</html>